<template>
  <div class="wrapper-button-navbar cursor-pointer" @click="handleClickButton">
    <i class="fa fa-reorder"></i>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  methods: {
    ...mapMutations({ toogleSidebar: 'toogleSidebar' }),
    handleClickButton() {
      this.toogleSidebar();
    },
  },
};
</script>

<style lang="scss" scoped>
.wrapper-button-navbar {
  position: fixed;
  z-index: 5;
  bottom: 1%;
  right: 1%;
  background: #ffffff;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 50px;
  opacity: 0.5;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  &:hover {
    opacity: 1;
    transition: 0.3s ease-in;
  }
}
</style>;
