<template>
  <div :class="_getClassnameNavbar()">
    <div :class="_getClassnamesNavbarItem('wrap-logo')">
      <img :src="getLogoImg" />
    </div>
    <div :class="_getClassnamesNavbarItem('wrap-user')">
      <div class="wrap-user__info">
        <img src="https://i.ya-webdesign.com/images/default-avatar-png-6.png" />
        <span>홍길동님</span>
      </div>
      <div class="wrap-user__position">
        <div class="simple-box">
          <p class="simple-box__main">HTML 퍼블리싱</p>
          <p class="simple-box__extra">빠른 견적 시스템</p>
        </div>
      </div>
    </div>
    <div :class="_getClassnamesNavbarItem('wrap-menu')">
      <div class="wrap-menu__item">
        <SidebarMenu :listData="getListMenuMain" :eventClickItem="handleToogleSideBar" />
      </div>
      <div class="wrap-menu__item">
        <SidebarMenu :listData="getListMenuUser" :eventClickItem="handleToogleSideBar" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import classnames from 'classnames';
import deviceMixin from '@/mixins/device';
import SidebarMenu from './SidebarMenu';
import { listMenuMain, listMenuUser } from '@/static/menu';
import LogoImg from '@/assets/images/Logo.png';

export default {
  components: { SidebarMenu },
  mixins: [deviceMixin],
  computed: {
    ...mapGetters({ isSidebarExpanded: 'isSidebarExpanded' }),
    getListMenuMain() {
      return listMenuMain;
    },
    getListMenuUser() {
      return listMenuUser;
    },
    getLogoImg() {
      return LogoImg;
    },
  },
  methods: {
    ...mapMutations({ toogleSidebar: 'toogleSidebar' }),
    _getClassnameNavbar() {
      return classnames('wrapper-navbar', {
        'wrapper-navbar--disable': !this.isSidebarExpanded,
      });
    },
    _getClassnamesNavbarItem(classItem) {
      return classnames('wrapper-navbar__item', classItem, {
        'wrapper-navbar--disable__item': !this.isSidebarExpanded,
      });
    },
    handleToogleSideBar() {
      if (this.isMobileDevice && this.isSidebarExpanded) this.toogleSidebar();
    },
  },
  created() {
    if (!this.isMobileDevice && !this.isSidebarExpanded) this.toogleSidebar();
  },
};
</script>

<style lang="scss" scoped>
.wrapper-navbar {
  display: inline-block;
  background-color: #313131;
  width: $sidebarWidth;
  height: 100vh;
  position: fixed;
  z-index: 10;
  transition: width 0.15s ease-in-out;
  color: #ffffff;
  &__item {
    margin-bottom: 15px;
  }
  &--disable {
    width: 0px;
    overflow: hidden;
    &__item {
      visibility: hidden;
    }
  }
  .wrap-logo {
    min-height: 100px;
    background: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 130px;
    }
  }
  .wrap-user {
    padding: 0px 15px;
    &__info {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      img {
        width: 64px;
        margin-right: 10px;
      }
      span {
        font-weight: 500;
        line-height: 1.25;
        font-size: 18px;
        letter-spacing: -0.72px;
      }
    }
    &__position {
      .simple-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 7px;
        border: solid 1px #7d7d7d;
        padding: 10px 0px;
        &__main {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -0.56px;
          color: #eeeeee;
        }
        &__extra {
          font-size: 20px;
          font-weight: 500;
          letter-spacing: -0.8px;
        }
      }
    }
  }
  .wrap-menu {
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: transparent;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
</style>;
