<template>
  <div class="block-list-menu">
    <div
      :class="_getClassnameMenuItem(item)"
      v-for="(item,index) in listData"
      :key="index"
      @click="handleClickMenuItem(item)"
    >
      <i :class="item.icon || 'fa fa-home'"></i>
      <span v-text="item.title" />
    </div>
  </div>
</template>

<script>
import classnames from 'classnames';
export default {
  props: {
    listData: {
      type: Array,
      default: () => {
        return [];
      },
    },
    eventClickItem: {
      type: Function,
      default: () => {},
    },
  },
  methods: {
    handleClickMenuItem(item) {
      typeof this.eventClickItem === 'function' && this.eventClickItem();
      this.goToRoute(item.path);
    },
    _getClassnameMenuItem(item) {
      return classnames('block-list-menu__item', 'cursor-pointer', {
        'block-list-menu__item--active': item.path === this.$route.name,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.block-list-menu {
  &__item {
    display: flex;
    align-items: center;
    padding: 10px;
    i {
      font-size: 24px;
    }
    span {
      font-size: 16px;
      letter-spacing: -0.64px;
      margin: 0px 15px;
    }
    &--active {
      background-color: #151515;
      color: $mainColor;
    }
    &:hover {
      color: $mainColor;
    }
  }
}
</style>;
