@import 'bulma/sass/utilities/initial-variables.sass';

$black: #343434;
$mainColor: #ffc329;
$main2Color: #556fb5;
$main3Color: #13b5b1;

$sidebarWidth: 300px;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
