<template>
  <div v-if="visible" class="wrapper-modal">
    <div class="block-modal">
      <div class="block-modal__item block-modal__title">
        <span>쿠폰 구매</span>
      </div>
      <div class="block-modal__item block-modal__content">
        <p>승인하기 위해 시간이 부족해 시간 구매가 필요합니다. 원하시는 구매형태를 선택해주세요</p>
      </div>
      <div class="block-modal__item block-modal__button">
        <div class="block-modal__button__item">
          <Tag text="시간제 쿠폰 구매하기" type="warning" size="large" class="cursor-pointer" @click="hide" />
        </div>
        <div class="block-modal__button__item">
          <Tag text="12시간만 구매하기" type="black" size="large" class="cursor-pointer" @click="hide" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Modal } from '@/plugins/modal';
import Tag from '@/components/shared/Tag';

export default {
  components: {
    Tag,
  },
  data() {
    return {
      visible: false,
      onConfirm: null,
    };
  },

  methods: {
    hide() {
      this.visible = false;
    },
    show(params) {
      this.visible = true;
      this.onConfirm = params;
    },
    confirm() {
      typeof this.onConfirm === 'function' && this.onConfirm();
      this.hide();
    },
  },
  beforeMount() {
    Modal.EventBus.$on('confirm', params => {
      this.show(params);
    });
  },
};
</script>

<style lang="scss" scoped>
.wrapper-modal {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #00000014;
  z-index: 100;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  .block-modal {
    min-width: 300px;
    height: fit-content;
    width: 40%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &__title {
      span {
        font-size: 22px;
        letter-spacing: -0.72px;
        color: #1b1b1b;
        font-weight: bold;
      }
    }
    &__content {
      background: #eeeeee;
      border-radius: 7px;
      padding: 15px 10px;
      p {
        text-align: center;
        font-size: 18px;
        letter-spacing: -0.72px;
        color: #1b1b1b;
      }
    }
    &__button {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }
}
</style>;