<template>
  <div class="wrapper-input-number">
    <span class="input-number-decrement" v-if="!disabled" @click="handleBtnDecrement">–</span>
    <input class="input-number" type="text" :value="currentValue" min="0" max="100" />
    <span class="input-number-increment" v-if="!disabled" @click="handleBtnIncrement">+</span>
  </div>
</template>

<script>
export default {
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    value: {
      type: Number,
      required: true,
    },
  },
  computed: {},
  data() {
    return {
      currentValue: 1,
    };
  },
  methods: {
    handleBtnDecrement() {
      this.currentValue--;
    },
    handleBtnIncrement() {
      this.currentValue++;
    },
  },
  watch: {
    currentValue(newVal) {
      this.$emit('update:value', newVal);
    },
    value(newVal) {
      this.currentValue = newVal;
    },
  },
  created() {
    this.currentValue = this.value;
  },
};
</script>

<style lang="scss" scoped>
.input-number {
  width: 40px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  font-family: NotoSansCJKkr;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  text-align: center;
  color: #1b1b1b;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  border: solid 1px #aaaaaa;
  height: 40px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background-color: #aaaaaa;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  &:active {
    color: #1b1b1b;
  }
}
</style>;
