<template>
  <div :class="_getClassNameTag" @click="$emit('click')">
    <span v-text="text"></span>
  </div>
</template>

<script>
import classnames from 'classnames';

export default {
  props: {
    classname: {
      type: String,
      default: '',
    },
    text: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'primary',
      validator: function(value) {
        return (
          ['primary', 'success', 'warning', 'grey', 'black'].indexOf(value) !==
          -1
        );
      },
    },
    size: {
      type: String,
      default: 'medium',
      validator: function(value) {
        return ['small', 'medium', 'large'].indexOf(value) !== -1;
      },
    },
    dark: {
      type: Boolean,
      default: false,
    },
    light: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    _getClassNameTag() {
      return classnames(
        `${this.classname}`,
        'tag',
        `tag--${this.type}`,
        `tag--${this.size}`,
        {
          'tag--dark': this.dark,
          'tag--light': this.light,
        }
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.tag {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  &--primary {
    background-color: $main2Color;
  }
  &--success {
    background-color: $main3Color;
  }
  &--warning {
    background-color: $mainColor;
  }
  &--grey {
    background-color: #7d7d7d;
    color: #ffffff;
  }
  &--black {
    background-color: #1b1b1b;
    color: #ffffff;
  }
  &--large {
    padding: 15px 30px;
  }
  &--medium {
    padding: 5px 10px;
  }
  &--small {
    padding: 2px;
    font-size: 14px;
  }
  &--dark {
    color: #ffffff;
  }
  &--light {
    color: #1b1b1b;
  }
  span {
    font-size: 14px;
    letter-spacing: -0.56px;
  }
}
</style>;
