<template>
  <div class="wrapper-app">
    <Sidebar />
    <SidebarButton v-if="isMobileDevice" />
    <div class="wrap-container">
      <router-view />
    </div>
  </div>
</template>

<script>
import Sidebar from '@/components/dashboard/Sidebar/index';
import SidebarButton from '@/components/dashboard/Sidebar/Button';
import deviceMixin from '@/mixins/device';

export default {
  components: { Sidebar, SidebarButton },
  mixins: [deviceMixin],
};
</script>

<style lang="scss" scoped>
.wrapper-app {
  .wrap-container {
    background-color: #f1f1f1;
    min-height: 100vh;
    margin-left: $sidebarWidth;
    @include mobile-and-tablet {
      margin-left: 0px;
    }
  }
}
</style>;
