<template>
  <section class="wrap-cart">
    <div class="wrap-cart__item">
      <CartTabComponent :currentTab.sync="currentTab" :dataSource="getListTab" />
    </div>
    <div class="wrap-cart__item">
      <Component :is="currentTab.components" />
    </div>
    <div class="wrap-cart__item">
      <CartListComponent />
    </div>
  </section>
</template>

<script>
import CartTabComponent from './components/CartTab';
import CartListComponent from './components/CartList';
import CartIntroComponent from './components/CartIntro';
import CartIntroReserve from './components/CartIntroReserve';

const listTab = [
  { key: 1, title: '추천', components: CartIntroComponent },
  { key: 2, title: '시간제 쿠폰', components: CartIntroReserve },
];

export default {
  components: { CartTabComponent, CartListComponent },
  computed: {
    getListTab() {
      return listTab;
    },
  },
  data() {
    return {
      currentTab: listTab[0],
    };
  },
};
</script>

<style lang="scss" scoped>
.wrap-cart {
  padding: 5% 15%;
  &__item {
    margin-bottom: 10px;
  }
}

@include mobile-and-tablet {
  .wrap-cart {
    padding: 30px 15px;
  }
}
</style>;
