<template>
  <DashboardBox :title="title" buttonType="tag" buttonText="승인하러 가기">
    <div class="block-list">
      <div class="block-list__item" v-for="(item,index) in dataSource" :key="index">
        <div class="status-col">
          <Tag :text="`Issue ${item.id}`" type="success" dark />
        </div>
        <div class="main-col">
          <span v-text="item.name || item.title"></span>
        </div>
        <div class="extra-col">
          <span v-text="`${item.hour || item.number}h`"></span>
        </div>
      </div>
    </div>
    <div class="block-pagination" v-if="hasPagination"></div>
  </DashboardBox>
</template>

<script>
import DashboardBox from '@/components/dashboard/MainBox';
import Tag from '@/components/shared/Tag';

export default {
  components: { DashboardBox, Tag },
  props: {
    title: {
      type: String,
      default: 'Title Table',
    },
    hasPagination: {
      type: Boolean,
      default: false,
    },
    dataSource: {
      type: Array,
      default: [],
    },
  },
};
</script>

<style lang="scss" scoped>
.block-list {
  &__item {
    display: flex;
    background-color: #f5f8fb;
    border-radius: 7px;
    border: solid 1px #dcdcdc;
    padding: 10px 0px;
    margin-bottom: 10px;
    align-items: center;
    &:last-child {
      margin-bottom: 0px;
    }
    &:nth-child(odd) {
      background-color: #fafbf5;
    }
    .status-col {
      flex-basis: 15%;
      text-align: center;
      padding: 0px 10px;
    }
    .main-col {
      flex-basis: 80%;
      border-right: solid 1px #dcdcdc;
      padding: 0px 10px;
    }
    .extra-col {
      flex-basis: 20%;
      text-align: center;
      span {
        font-size: 16px;
        letter-spacing: -0.64px;
        color: #1b1b1b;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}
</style>;
