<template>
  <DashboardBox :title="title" buttonType="normal" buttonText="더보기">
    <div class="block-list">
      <div class="block-list__item" v-for="(item,index) in dataSource" :key="index">
        <div class="main-title-col">
          <span v-text="item.name || item.text"></span>
        </div>
        <div class="date-col">
          <span v-text="item.date || item.created_at"></span>
        </div>
        <div class="status-col" :class="item.status ? 'status-col--active' : ''">
          <span v-text="item.status ? '담당자 확인중': '답변 완료'"></span>
        </div>
      </div>
    </div>
    <div class="block-pagination" v-if="hasPagination"></div>
  </DashboardBox>
</template>

<script>
import DashboardBox from '@/components/dashboard/MainBox';

export default {
  components: { DashboardBox },
  props: {
    title: {
      type: String,
      default: 'Title Table',
    },
    hasPagination: {
      type: Boolean,
      default: false,
    },
    dataSource: {
      type: Array,
      default: [],
    },
  },
};
</script>

<style lang="scss" scoped>
.block-list {
  &__item {
    display: flex;
    padding: 5px 0px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
    .main-title-col {
      flex-basis: 70%;
      padding: 0px 10px;
      span {
        font-size: 14px;
        letter-spacing: -0.56px;
        color: #1b1b1b;
      }
    }
    .date-col {
      flex-basis: 15%;
      text-align: center;
      span {
        font-size: 14px;
        letter-spacing: -0.56px;
        color: #959595;
      }
    }

    .status-col {
      flex-basis: 15%;
      text-align: center;
      color: #1b1b1b;
      &--active {
        span {
          color: $main3Color;
        }
      }
      span {
        font-size: 14px;
        letter-spacing: -0.56px;
      }
    }
  }
}
</style>;
