<template>
  <DashboardBox :title="title">
    <div class="block-list">
      <div class="block-list__item" v-for="(item,index) in dataSource" :key="index">
        <div class="status-col">
          <Tag :text="`Issue ${item.id}`" dark />
        </div>
        <div class="main-col">
          <span v-text="item.name || item.title"></span>
        </div>
        <div class="date-col">
          <span v-text="item.date || item.created_at"></span>
        </div>
        <div class="extra-col">
          <div class="status-text">
            <span>개발자 배정</span>
            <div class="circle"></div>
          </div>
          <span v-text="`${item.hour || item.number}h`"></span>
        </div>
      </div>
    </div>
    <div class="block-pagination" v-if="hasPagination"></div>
  </DashboardBox>
</template>

<script>
import DashboardBox from '@/components/dashboard/MainBox';
import Tag from '@/components/shared/Tag';

export default {
  components: { DashboardBox, Tag },
  props: {
    title: {
      type: String,
      default: 'Title Table',
    },
    hasPagination: {
      type: Boolean,
      default: false,
    },
    dataSource: {
      type: Array,
      default: [],
    },
  },
};
</script>

<style lang="scss" scoped>
.block-list {
  &__item {
    display: flex;
    background-color: #f5f8fb;
    border-radius: 7px;
    border: solid 1px #dcdcdc;
    padding: 10px 0px;
    margin-bottom: 10px;
    align-items: center;
    &:last-child {
      margin-bottom: 0px;
    }
    &:nth-child(odd) {
      background-color: #fafbf5;
    }
    .status-col {
      flex-basis: 15%;
      text-align: center;
      padding: 0px 10px;
    }
    .main-col {
      flex-basis: 50%;
      padding: 0px 10px;
    }
    .date-col {
      flex-basis: 15%;
      border-right: solid 1px #dcdcdc;
      padding: 0px 10px;
      text-align: center;
      span {
        font-size: 14px;
        letter-spacing: -0.56px;
        color: #959595;
      }
    }
    .extra-col {
      flex-basis: 20%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: stretch;
      padding: 20px 0px;
      span {
        font-size: 16px;
        letter-spacing: -0.64px;
        color: #1b1b1b;
        font-weight: 500;
        text-transform: uppercase;
      }
      .status-text {
        position: absolute;
        top: 2px;
        @include mobile {
          right: 10px;
        }
        display: flex;
        align-items: center;
        .circle {
          display: block;
          width: 10px;
          height: 10px;
          background-color: #0dd92e;
          border-radius: 50px;
        }
        span {
          font-size: 12px;
          letter-spacing: -0.48px;
          color: #535353;
          margin-right: 3px;
          white-space: nowrap;
        }
      }
    }
  }
}
</style>;
