<template>
  <div class="wrap-box">
    <div class="block-title">
      <div class="block-title__main">
        <span v-text="title"></span>
      </div>
      <div class="block-title__action">
        <Tag
          :text="buttonText"
          type="grey"
          size="medium"
          class="cursor-pointer"
          v-if="buttonType === 'tag'"
        />
        <div class="btn-simple cursor-pointer" v-if="buttonType === 'normal'">
          <span v-text="buttonText"></span>
          <i class="fa fa-arrow-circle-o-right"></i>
        </div>
      </div>
    </div>
    <div class="block-content mt-3">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import Tag from '@/components/shared/Tag';

export default {
  components: {
    Tag,
  },
  props: {
    title: {
      type: String,
      default: 'Title',
    },
    buttonText: {
      type: String,
      default: '',
    },
    buttonType: {
      type: String,
      default: '',
      validator: function(value) {
        return ['tag', 'normal', ''].indexOf(value) !== -1;
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.wrap-box {
  border-radius: 7px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 10px;
  .block-title {
    display: flex;
    &__main {
      width: fit-content;
      float: left;
      font-weight: bold;
      padding: 10px 0px;
      border-bottom: 4px solid $mainColor;
      z-index: 5;
      white-space: nowrap;
      span {
        font-size: 18px;
        letter-spacing: -0.72px;
        color: #1b1b1b;
      }
    }
    &__action {
      padding: 10px 0px;
      width: 100%;
      border-bottom: 2px solid #00000021;
      display: flex;
      justify-content: flex-end;
      .btn-simple {
        &:hover {
          span {
            text-decoration: underline;
          }
        }
        span {
          font-size: 14px;
          letter-spacing: -0.84px;
          color: #535353;
          margin-right: 3px;
        }
      }
    }
  }
  .block-content {
    padding: 15px 0px;
  }
}
</style>;
