<template>
  <div :class="_getClassnameNewItem()">
    <div class="block-image">
      <img :src="item.img" class="cursor-pointer" />
    </div>
    <div class="block-new">
      <div class="block-new__title">
        <p class="cursor-pointer" v-text="item.title"></p>
      </div>
      <div class="block-new__content">
        <p v-text="getDescriptionText"></p>
      </div>
      <div class="block-new__action" v-if="isCurrent">
        <div class="btn-simple cursor-pointer">
          <span>더보기</span>
          <i class="fa fa-arrow-circle-o-right"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import classnames from 'classnames';
import { get } from 'lodash';

export default {
  props: {
    isCurrent: {
      type: Boolean,
      default: false,
    },
    item: {
      type: Object,
      default: {},
    },
  },
  computed: {
    getDescriptionText() {
      return get(this.item, 'description', 'No description');
    },
  },
  methods: {
    _getClassnameNewItem() {
      return classnames('block-new-item', {
        'block-new-item--inactive': !this.isCurrent,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.block-new-item {
  display: flex;
  align-items: center;
  .block-image {
    flex-basis: 30%;
    padding: 10px;
    img {
      width: 100%;
    }
  }
  .block-new {
    flex-basis: 70%;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    &__title {
      font-weight: bold;
      margin: 15px 0px;
      padding-right: 30%;
      p {
        font-size: 20px;
        letter-spacing: -0.8px;
        color: #1b1b1b;
      }
    }
    &__content {
      span {
        font-size: 14px;
        letter-spacing: -0.56px;
        color: #1b1b1b;
      }
    }
    &__action {
      margin-top: 3px;
      text-align: right;
      .btn-simple {
        &:hover {
          text-decoration: underline;
        }
        span {
          font-size: 14px;
          letter-spacing: -0.84px;
          color: #535353;
          margin-right: 3px;
        }
      }
    }
  }
  &--inactive {
    justify-content: center;
    .block-image {
      flex-basis: 20%;
    }
    .block-new {
      flex-basis: 60%;
    }
  }
}

@include mobile {
  .block-new-item {
    flex-direction: column;
    .block-new {
      &__title {
        padding-right: 0%;
      }
    }
  }
}
</style>;
