<template>
  <div class="wrap-info">
    <div class="block-title">
      <span>서비스 진행 현황</span>
    </div>
    <div class="block-list">
      <div class="item">
        <span class="item__title">진행 중</span>
        <span class="item__content item__content--primary">
          28
          <span>시간</span>
        </span>
        <progress class="progress is-info is-small show-value" value="15" max="100"></progress>
      </div>
      <div class="item">
        <span class="item__title">전체 완료</span>
        <span class="item__content item__content--main">
          456
          <span>시간</span>
        </span>
        <progress class="progress is-warning is-small show-value" value="90" max="100"></progress>
      </div>
      <div class="item">
        <span class="item__title">잔여 시간</span>
        <span class="item__content item__content--success">
          12
          <span>시간</span>
        </span>
        <progress class="progress is-primary is-small show-value" value="10" max="100"></progress>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.wrap-info {
  min-height: 120px;
  background: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  .block-title {
    flex-basis: 15%;
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    background-color: #7d7d7d;
    padding: 10px;
    border-radius: 7px 0px 0px 7px;
    span {
      font-size: 22px;
      line-height: 1.45;
      letter-spacing: -0.88px;
      color: #ffffff;
      text-align: center;
    }
  }
  .block-list {
    display: flex;
    justify-content: center;
    flex-basis: 85%;
    .item {
      flex-basis: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0px 15px;
      &__title {
        font-size: 18px;
        letter-spacing: -0.72px;
        color: #1b1b1b;
      }
      &__content {
        &--primary {
          color: $main2Color;
        }
        &--main {
          color: $mainColor;
        }
        &--success {
          color: $main3Color;
        }
        font-size: 32px;
        font-weight: 500;
        letter-spacing: -1.28px;

        span {
          font-size: 22px;
        }
      }
    }
  }
}

@include mobile-and-tablet {
  .wrap-info {
    flex-direction: column;
    .block-title {
      padding: 10px;
      border-radius: 7px 7px 0px 0px;
    }
    .block-list {
      width: 100%;
      justify-content: space-between;
      padding: 10px;
    }
  }
}

@include mobile {
  .wrap-info {
    .block-list {
      flex-direction: column;
      .item {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
}
</style>;
