<template>
  <div class="wrap-tab">
    <div class="block-tab columns">
      <div
        :class="_getClassnameTabItem(item)"
        v-for="item in listTab"
        :key="item.key"
        @click="handleClickTab(item.key)"
      >
        <span v-text="item.title"></span>
      </div>
    </div>
    <div class="block-content">
      <div class="block-text">
        <span v-text="getCurrentTab.text"></span>
      </div>
      <div class="block-flow columns">
        <div class="block-flow__item column" v-for="step in getCurrentTab.steps" :key="step">
          <div class="circle-flow"></div>
          <div class="line"></div>
          <span v-text="step"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import classnames from 'classnames';

const listTabData = [
  {
    key: 1,
    title: '시간제 쿠폰 서비스',
    text: '앱닥터 문의 시 아래와 같은 프로세스로 진행됩니다.',
    steps: [
      '문의/요청',
      '요청 분석',
      '승인대기중',
      '개발자 배정',
      '진행중',
      '개발완료',
      '고객 검수',
      '개발종료',
    ],
  },
  {
    key: 2,
    title: '월 후불제',
    text: '앱닥터 문의 시 아래와 같은 프로세스로 진행됩니다 2.',
    steps: [
      '문의/요청 2',
      '요청 분석 2',
      '승인대기중 2',
      '개발자 배정 2',
      '진행중 2',
      '개발완료 2',
      '고객 검수 2',
      '개발종료 2',
    ],
  },
  {
    key: 3,
    title: '프로젝트',
    text: '앱닥터 문의 시 아래와 같은 프로세스로 진행됩니다 3.',
    steps: [
      '문의/요청 3',
      '요청 분석 3',
      '승인대기중 3',
      '개발자 배정 3',
      '진행중 3',
      '개발완료 3',
      '고객 검수 3',
      '개발종료 3',
    ],
  },
];

export default {
  data() {
    let listTab = [];
    listTabData.map((item, index) => {
      listTab.push({ ...item, isActive: index === 0 ? true : false });
    });
    return {
      listTab: listTab,
    };
  },
  computed: {
    getCurrentTab() {
      return this.listTab.find(item => item.isActive);
    },
  },
  methods: {
    handleClickTab(key) {
      this.listTab.map(item => {
        item.isActive = item.key === key ? true : false;
      });
    },
    _getClassnameTabItem(tab) {
      return classnames('block-tab__item', 'column', 'cursor-pointer', {
        'block-tab__item--active': tab.isActive,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.wrap-tab {
  .block-tab {
    display: flex;
    justify-content: space-between;
    &__item {
      max-width: 33%;
      padding: 10px;
      background: #d2d2d2;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      &--active {
        background: $mainColor;
        span {
          color: #1b1b1b !important;
        }
      }
      &:last-child {
        margin-right: 0px;
      }
      &:hover {
        text-decoration: underline;
      }
      span {
        font-size: 18px;
        letter-spacing: -0.72px;
        color: #7d7d7d;
        text-align: center;
      }
    }
  }
  .block-content {
    padding: 20px 0px;
    .block-text {
      margin-bottom: 10px;
      span {
        font-size: 14px;
        letter-spacing: -0.56px;
        color: #626262;
      }
    }
    .block-flow {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        &:nth-child(1) {
          .circle-flow {
            background: #99dcda;
          }
        }
        &:nth-child(2) {
          .circle-flow {
            background: #79d2d0;
          }
        }
        &:nth-child(3) {
          .circle-flow {
            background: #58c8c5;
          }
        }
        &:nth-child(4) {
          .circle-flow {
            background: #a0aed2;
          }
        }
        &:nth-child(5) {
          .circle-flow {
            background: #8a9bc8;
          }
        }
        &:nth-child(6) {
          .circle-flow {
            background: #7589be;
          }
        }
        &:nth-child(7) {
          .circle-flow {
            background: #6379b5;
          }
        }
        &:nth-child(8) {
          .circle-flow {
            background: #0dd92e;
          }
        }
        span {
          font-size: 16px;
          letter-spacing: -0.64px;
          color: #626262;
        }
        .circle-flow {
          display: block;
          height: 32px;
          width: 32px;
          background: $main2Color;
          border-radius: 50px;
          z-index: 2;
        }
        .line {
          display: block;
          height: 2px;
          background: #00000047;
          width: 100%;
          position: absolute;
          top: 12px;
        }
      }
    }
  }
}

@include mobile-and-tablet {
  .wrap-tab {
    .block-content {
      .block-flow {
        &__item {
          max-width: 20%;
        }
      }
    }
  }
}

@include mobile {
  .wrap-tab {
    .block-content {
      .block-flow {
        &__item {
          max-width: unset;
        }
      }
    }
  }
}
</style>;
