<template>
  <div class="wrap-intro">
    <span>쿠폰 유효기간( ~ 2020년 3월 10일)이 얼마 남지 않았습니다.</span>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.wrap-intro {
  padding: 5px;
  text-align: center;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #7d8d9d;
  span {
    font-size: 14px;
    letter-spacing: -0.56px;
    color: #ffffff;
  }
}
</style>;
