<template>
  <div class="wrap-table">
    <div class="wrap-table__item">
      <TableData title="승인 대기 중인 이슈 5건" :dataSource="getListData" />
    </div>
    <div class="wrap-table__item">
      <TableDataUser title="진행 중인 이슈 14건" :dataSource="getListUser" />
    </div>
  </div>
</template>

<script>
import TableData from '@/components/dashboard/Table/TableData';
import TableDataUser from '@/components/dashboard/Table/TableDataUser';

const listDataTable = [
  {
    id: '3664',
    name: '안드로이드 소스 분석',
    hour: 32,
  },
  {
    id: '3665',
    name: '안드로이드 – 운영서버와 테스트 서버 연결 빌드 생성',
    hour: 15,
  },
  {
    id: '3666',
    name: '안드로이드 소스 분석',
    hour: 32,
  },
  {
    id: '3667',
    name: '안드로이드 – 운영서버와 테스트 서버 연결 빌드 생성',
    hour: 15,
  },
  {
    id: '3667',
    name: '안드로이드 소스 분석',
    hour: 32,
  },
];

const listDataUser = [
  {
    id: '3664',
    name: '1. 서버 – 댓글 기능 업데이트',
    hour: 32,
    date: '2019.04.09',
    online: false,
  },
  {
    id: '3665',
    name: '2. 서버 – 상세페이지 화면 지도의 카카오톡 공유하기 기능 업데이트',
    hour: 32,
    date: '2019.04.09',
    online: true,
  },
  {
    id: '3668',
    name: '3. 서버 – 댓글 기능 업데이트',
    hour: 32,
    date: '2019.04.09',
    online: true,
  },
  {
    id: '3662',
    name: '4. 서버 – 상세페이지 화면 지도의 카카오톡 공유하기 기능 업데이트',
    hour: 32,
    date: '2019.04.09',
    online: false,
  },
  {
    id: '3661',
    name: '4. 서버 – 상세페이지 화면 지도의 카카오톡 공유하기 기능 업데이트',
    hour: 32,
    date: '2019.04.09',
    online: true,
  },
];

export default {
  components: { TableData, TableDataUser },
  computed: {
    getListData() {
      return listDataTable;
    },
    getListUser() {
      return listDataUser;
    },
  },
};
</script>

<style lang="scss" scoped>
.wrap-table {
  display: flex;
  justify-content: space-between;
  &__item {
    flex-basis: 49.5%;
    .wrap-box {
      height: 100%;
    }
  }
}

@include mobile-and-tablet {
  .wrap-table {
    flex-direction: column;
    &__item {
      flex-basis: 100%;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
</style>;
