<template>
  <div class="wrap-new">
    <DashboardBox title="앱닥터 소식">
      <div class="block-new">
        <div class="block-new__current">
          <NewItem :isCurrent="true" :item="getCurrentNew" />
        </div>
        <div class="block-new__list">
          <div class="item" v-for="item in getListNew" :key="item.id">
            <NewItem :isCurrent="false" :item="item" />
          </div>
        </div>
      </div>
    </DashboardBox>
  </div>
</template>

<script>
import { chunk } from 'lodash';
import DashboardBox from '@/components/dashboard/MainBox';
import NewItem from '@/components/dashboard/NewItem';
import New1Img from '@/assets/images/News-1.png';
import New2Img from '@/assets/images/News-2.png';

const listNew = [
  {
    key: 1,
    title:
      '앱닥터 허석균 대표, 김빛나 본부장 [아산나눔재단/MARU180] 인터뷰 소식!!',
    description:
      '안녕하세요. 앱닥터 입니다.오늘 알려드릴 소식은 아산나눔재단/MARU180에서 진행한 인터뷰 소식입니다.이번 인터뷰의 주인공은 바로 앱닥터의 허석균 대표와 김빛나 본부장입니다.MARU180의 새 식구가 된 것을 격하게 환영해 주셔서 진심으로 감사한 자리였는데…',
    img: New1Img,
  },
  {
    key: 2,
    title: '앱닥터, 앱/웹 유지 보수 재계약 안하신 대표님들 주목~! ',
    description:
      '“텍스트 하나만 수정하고 싶은데”, “이미지 하나 더 추가하고 싶은데”“텍스트 하나만 수정하고 싶은데”, “이미지 하나 더 추가하고 싶은데”…',
    img: New2Img,
  },
  {
    key: 3,
    title: '앱닥터, 앱/웹 유지 보수 재계약 안하신 대표님들 주목~! ',
    description:
      '“텍스트 하나만 수정하고 싶은데”, “이미지 하나 더 추가하고 싶은데”“텍스트 하나만 수정하고 싶은데”, “이미지 하나 더 추가하고 싶은데”…',
    img: New2Img,
  },
];

export default {
  components: { DashboardBox, NewItem },
  computed: {
    getCurrentNew() {
      return listNew[0] || {};
    },
    getListNew() {
      return listNew.filter((item, index) => index !== 0);
    },
  },
};
</script>

<style lang="scss" scoped>
.wrap-new {
  .block-new {
    display: flex;
    align-items: center;
    &__current {
      flex-basis: 50%;
    }
    &__list {
      flex-basis: 50%;
    }
  }
}
@include mobile-and-tablet {
  .wrap-new {
    .block-new {
      flex-direction: column;
      &__current {
        margin: 10px 0px;
      }
      &__list {
        .item {
          margin: 10px 0px;
        }
      }
    }
  }
}
</style>;
