<template>
  <div class="wrap-list">
    <TableList title="최근 문의 / 요청 현황" :dataSource="getListData" />
  </div>
</template>

<script>
import DashboardBox from '@/components/dashboard/MainBox';
import TableList from '@/components/dashboard/Table/TableList';

const listDataTable = [
  {
    id: '3664',
    status: true,
    date: '2020.01.13',
    name: '저희가 사용중인 앱을 수정하고자 하는데 견적을 알고 싶습니다.',
  },
  {
    id: '3665',
    status: false,
    date: '2020.01.10',
    name: '앱닥터 수정사항 요청하고 싶습니다. 미팅도 가능한가요? ',
  },
  {
    id: '3666',
    status: false,
    date: '2020.01.01',
    name: '앱닥터 서비스 어떻게 이용하는 건가요?',
  },
];

export default {
  components: { DashboardBox, TableList },
  computed: {
    getListData() {
      return listDataTable;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>;
