<template>
  <section class="wrap-home">
    <div class="wrap-home__item">
      <HomeInfoComponent />
    </div>
    <div class="wrap-home__item">
      <HomeIntroComponent />
    </div>
    <div class="wrap-home__item">
      <HomeTabComponent />
    </div>
    <div class="wrap-home__item">
      <HomeTableComponent />
    </div>
    <div class="wrap-home__item">
      <HomeListComponent />
    </div>
    <div class="wrap-home__item">
      <HomeNewComponent />
    </div>
  </section>
</template>

<script>
import HomeInfoComponent from './components/HomeInfo';
import HomeIntroComponent from './components/HomeIntro';
import HomeListComponent from './components/HomeList';
import HomeNewComponent from './components/HomeNew';
import HomeTabComponent from './components/HomeTab';
import HomeTableComponent from './components/HomeTable';

export default {
  components: {
    HomeInfoComponent,
    HomeIntroComponent,
    HomeListComponent,
    HomeNewComponent,
    HomeTabComponent,
    HomeTableComponent,
  },
  async mounted() {
    await this.$modal.confirm();
  },
};
</script>

<style lang="scss" scoped>
.wrap-home {
  padding: 30px 25px;
  &__item {
    margin-bottom: 15px;
  }
}
</style>;
