<template>
  <div class="wrap-tab">
    <div class="wrap-tab__title">
      <span>서비스 구매</span>
    </div>
    <div class="wrap-tab__list">
      <div
        :class="_getClassnameItemTab(item)"
        v-for="item in dataSource"
        :key="item.key"
        @click="handleClickTabItem(item)"
      >
        <span v-text="item.title"></span>
      </div>
    </div>
  </div>
</template>

<script>
import classnames from 'classnames';

export default {
  props: {
    dataSource: {
      type: Array,
      default: [],
    },
    currentTab: {
      type: Object,
      default: {},
    },
  },
  methods: {
    _getClassnameItemTab(item) {
      return classnames('item', 'cursor-pointer', {
        'item--active': this.currentTab.key === item.key,
      });
    },
    handleClickTabItem(item) {
      this.$emit('update:currentTab', item);
    },
  },
};
</script>

<style lang="scss" scoped>
.wrap-tab {
  width: 100%;
  border-bottom: 1.5px solid #00000021;
  &__title {
    margin-bottom: 10px;
    span {
      font-size: 30px;
      font-weight: 500;
      letter-spacing: -1.2px;
      color: #000000;
    }
  }
  &__list {
    width: 100%;
    display: flex;
    .item {
      padding: 0px 25px;
      white-space: nowrap;
      height: 35px;
      span {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.64px;
        color: #959595;
      }
      &--active {
        border-bottom: 2px solid orange;
        span {
          color: #1b1b1b;
        }
      }
    }
  }
}
</style>;
