<template>
  <div class="wrap-list">
    <div class="wrap-list__item" v-for="item in listItemCart" :key="item.id">
      <div class="item-col tag-col">
        <div class="tag-col__content">
          <img :src="getTagImg" />
          <div class="block-info">
            <Tag text="개발자 시간제 쿠폰" type="warning" size="small" light />
            <p>
              {{item.percent}}
              <span>시간 쿠폰</span>
            </p>
          </div>
        </div>
      </div>
      <div class="item-col price-col">
        <span v-text="`${item.price},000원`"></span>
      </div>
      <div class="item-col quantity-col">
        <InputNumber :disabled="item.id === 1" :value.sync="item.quantity" />
      </div>
      <div class="item-col action-col">
        <Tag text="구매하기" type="black" size="large" class="cursor-pointer" />
        <span v-text="`시간당 ${item.vat},000원/ 유효기간 3개월/ VAT 별도`"></span>
      </div>
    </div>
  </div>
</template>

<script>
import TagImg from '@/assets/images/Tag.png';
import Tag from '@/components/shared/Tag';
import InputNumber from '@/components/shared/InputNumber';

const listItemCart = [
  { id: 1, price: `700`, percent: 20, vat: 35, quantity: 1 },
  { id: 2, price: `1,200`, percent: 40, vat: 30, quantity: 2 },
  { id: 3, price: `4,200`, percent: 160, vat: 26, quantity: 3 },
];

export default {
  components: {
    Tag,
    InputNumber,
  },
  computed: {
    getTagImg() {
      return TagImg;
    },
  },
  data() {
    return {
      listItemCart: listItemCart,
    };
  },
};
</script>

<style lang="scss" scoped>
.wrap-list {
  &__item {
    display: flex;
    align-items: center;
    margin-top: 25px;

    .tag-col {
      flex-basis: 30%;
      .tag-col__content {
        position: relative;
        img {
          width: 100%;
          padding: 0px 15%;
          height: 85px;
        }
        .block-info {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 5;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p {
            margin: 2px 0px;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: -0.96px;
            text-align: center;
            white-space: nowrap;
            span {
              font-weight: 500;
            }
          }
        }
      }
    }
    .price-col {
      flex-basis: 20%;
      text-align: center;
      span {
        font-size: 26px;
        letter-spacing: -1.04px;
        text-align: center;
        color: #ea0027;
      }
    }
    .quantity-col {
      flex-basis: 20%;
      text-align: center;
    }
    .action-col {
      flex-basis: 20%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span {
        font-size: 13px;
        letter-spacing: -0.52px;
        text-align: right;
        color: #535353;
        white-space: nowrap;
        padding: 5px 0px;
      }
    }
  }
}

@include mobile {
  .wrap-list {
    &__item {
      flex-direction: column;
      .tag-col {
        flex-basis: 100%;
      }
      .price-col {
        flex-basis: 50%;
      }
      .quantity-col {
        flex-basis: 50%;
      }
      .action-col {
        flex-basis: 100%;
        align-items: center;
      }
      .item-col {
        margin-bottom: 5px;
      }
    }
  }
}
</style>;
