<template>
  <div class="wrap-intro">
    <div class="block-intro">
      <div class="block-intro__title">
        <span>앱닥터 시간제 쿠폰 서비스</span>
      </div>
      <div class="block-intro__content">
        <p>
          앱닥터만의 새로운 개발 서비스로 시간을 쿠폰처럼 구매하고, 개발에 필요한 시간만큼 소진하는
          합리적 서비스를 경험해보세요.
        </p>
      </div>
    </div>
    <div class="block-action">
      <div class="block-action__btn">
        <span>배너영역</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.wrap-intro {
  display: flex;
  padding: 25px 0px;
  border-bottom: 1.5px solid #00000021;
  .block-intro {
    flex-basis: 50%;
    padding-right: 15px;
    &__title {
      span {
        font-size: 26px;
        letter-spacing: -1.04px;
        color: #1b1b1b;
      }
    }
    &__content {
      p {
        font-size: 16px;
        letter-spacing: -0.64px;
        color: #1b1b1b;
      }
    }
  }
  .block-action {
    flex-basis: 50%;
    &__btn {
      height: 100%;
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d2d2d2;
      span {
        font-size: 20px;
        letter-spacing: -0.8px;
        color: #7d7d7d;
      }
    }
  }
}

@include mobile-and-tablet {
  .wrap-intro {
    .block-action {
      &__btn {
        width: 100%;
      }
    }
  }
}
</style>;
