<template>
  <div class="wrapper-app">
    <router-view />
    <app-modal-confirm />
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
@import '@/assets/styles/bulma.scss';
.wrapper-app {
  font-family: NotoSansCJKkr;
}
</style>;
