@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/grid/columns.sass';

@import '~bulma/sass/components/navbar.sass';

// Override bulma styles
.columns {
  margin: 0;
  &.is-center {
    justify-content: center;
  }
}
.column {
  padding: 0;
}

.container {
  padding: 8px;
}

p {
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}
